[Desktop Entry]
Name=ieaseMusic (1.3.0)
Comment=这应该是最好的网易云音乐播放器了，没有之一，如果有请打醒 🤘
Exec=/home/erystasius/Applications/ieaseMusic-1.3.0-linux-x86_64_e08e54045acb60da1a5dd911e39de182.AppImage
Terminal=false
Type=Application
Icon=appimagekit_f5632bf1c53edf9d3cbd0c8f82dca776_ieaseMusic
X-AppImage-Version=1.3.0
X-AppImage-BuildId=32724d90-975b-11a8-32ae-41380ed6351a
Categories=Music;

TryExec=/home/erystasius/Applications/ieaseMusic-1.3.0-linux-x86_64_e08e54045acb60da1a5dd911e39de182.AppImage
X-AppImage-Old-Icon=ieaseMusic
X-AppImage-Old-Name=ieaseMusic
X-AppImage-Identifier=f5632bf1c53edf9d3cbd0c8f82dca776
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2020-12-16 18:35:16 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/appimagelauncher/remove "/home/erystasius/Applications/ieaseMusic-1.3.0-linux-x86_64_e08e54045acb60da1a5dd911e39de182.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
