[Desktop Entry]
Name=NoSQLBooster for MongoDB (6.2.4)
Exec=/home/erystasius/Applications/nosqlbooster4mongo-6.2.4_f06f3750c3ba725bc3e85219cdd90fab.AppImage
Terminal=false
Type=Application
Icon=appimagekit_76ea450f5a31a86bb3c95b0bc39b551b_nosqlbooster4mongo
StartupWMClass=NoSQLBooster for MongoDB
X-AppImage-Version=6.2.4
Comment=Essential Admin GUI for MongoDB
Categories=Development;

TryExec=/home/erystasius/Applications/nosqlbooster4mongo-6.2.4_f06f3750c3ba725bc3e85219cdd90fab.AppImage
X-AppImage-Old-Icon=nosqlbooster4mongo
X-AppImage-Old-Name=NoSQLBooster for MongoDB
X-AppImage-Identifier=76ea450f5a31a86bb3c95b0bc39b551b
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2020-12-16 18:35:16 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/appimagelauncher/remove "/home/erystasius/Applications/nosqlbooster4mongo-6.2.4_f06f3750c3ba725bc3e85219cdd90fab.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
