[Desktop Entry]
Type=Application
Name=AriaNg All-In-One
Exec=/usr/bin/google-chrome-stable --app=file:///usr/share/ariang-allinone/index.html
Icon=ariang-allinone
