[Unit]
Description=aria2c Service

[Service]
WorkingDirectory=/home/erystasius/.config/aria2
ExecStart=bash -c "/usr/bin/cat all.trackers | /usr/bin/xargs /usr/bin/aria2c --conf-path=daemon.conf --bt-tracker"
