[Unit]
Description=Sync to my favorite bspwm state.

Wants=emacs.service
Wants=picom.service
Wants=sxhkd.service
Wants=aria2.service
Wants=jgmenu.service
Wants=wallpaper.service
Wants=cursor-fix.service
Wants=app-org.fcitx.Fcitx5-autostart.service
Wants=app-nm\x2dapplet-autostart.service      
Wants=app-pa\x2dapplet-autostart.service    

BindsTo=graphical-session.target

