[Unit]
Description=Sync to my favorate state.
Wants=app-org.fcitx.Fcitx5-autostart.service
Wants=app-nm\x2dapplet-autostart.service      
Wants=app-pa\x2dapplet-autostart.service    
Wants=syncthing.service
Wants=emacs.service
Wants=clash.service

[Install]
WantedBy=default.target
